In [1]:
import pandas as pd
import numpy as np
from scipy import stats

## Question1

In [2]:
df=pd.read_csv("Cutlets.csv")
df.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [3]:
# Null hypothesis(H0): mu1(mean of unit A)=mu2(Mean of unit B)(no difference in diameter)
#Alternative Hypothesis(H1):mu1 ≠ mu2(difference in diameter)

In [4]:
unit_a=np.array(df["Unit A"])
unit_b=np.array(df["Unit B"])

In [5]:
inference=stats.ttest_ind(unit_a,unit_b)
inference

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

### So we know that p < alpha, then we reject the null hypothesis

In [6]:
if inference.pvalue<0.05:
    print("We reject the null hypothesis at 5% level of significance")
else:
    print("We accept the null hypothesis at 5% level of significance")

We accept the null hypothesis at 5% level of significance

In [7]:
#here 0.47>0.05 at 5% level of significance
#so we say that this is not significant and we accept the null hypothesis  and there is no difference in diameter.

## Question2

In [8]:
df1=pd.read_csv("LabTAT.csv")

In [9]:
df1

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [10]:
#H0:mu1=mu2=mu3=mu4(not difference in average )
#H1: at least one differ

In [11]:
inference1=stats.f_oneway(df1["Laboratory 1"],df1["Laboratory 2"],df1["Laboratory 3"],df1["Laboratory 4"])
inference1

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [12]:
if inference1.pvalue<0.05:
    print("We reject the null hypothesis at 5% level of significance")
else:
    print("We accept the null hypothesis at 5% level of significance")

We reject the null hypothesis at 5% level of significance

In [13]:
#So we say that this is significant at 5 % level of significance and null hypothesis rejected.
#we conclude that  at least one of them differ.

## Question 3

In [14]:
df2=pd.read_csv("BuyerRatio.csv")
df2

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

### H0: All proportions are equal
### H1: Not all proportion are equal

In [15]:
obs=df2.drop("Observed Values",axis=1)
obs

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [16]:
from scipy.stats import chi2_contingency

In [17]:
chi2,p_value,dof,con_table=chi2_contingency(obs)

In [18]:
chi2

1.595945538661058

In [19]:
p_value

0.6603094907091882

In [20]:
dof

3

In [21]:
con_table# Here contingency value output where expected frequency for each value of row and columns

array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
       [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]])

In [22]:
if p_value<0.05:
    print("We reject the null hypothesis at 5% level of significance")
else:
    print("We accept the null hypothesis at 5% level of significance")

We accept the null hypothesis at 5% level of significance

In [23]:
# since the p value is not significant, so we conclude that all proportion are equal

## Question 4

In [24]:
df3=pd.read_csv("Costomer+OrderForm.csv")
df3.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

### H0= defective % not varies by centre
### H1= at least one of them defective % by centre

In [25]:
df3["Phillippines"].value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [26]:
df3["Indonesia"].value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [27]:
df3["Malta"].value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [28]:
df3["India"].value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [29]:
df3_new=pd.DataFrame({"Error Free":[271,267,269,280],"Defective":[29,33,31,20]})
df3_new

   Error Free  Defective
0         271         29
1         267         33
2         269         31
3         280         20

In [30]:
obs=np.array(df3_new[["Error Free","Defective"]])

In [31]:
chi2_,p_value_,dof_,con_table_=stats.chi2_contingency(obs)

In [32]:
chi2_

3.8589606858203545

In [33]:
p_value_

0.2771020991233144

In [34]:
dof_

3

In [35]:
con_table_

array([[271.75,  28.25],
       [271.75,  28.25],
       [271.75,  28.25],
       [271.75,  28.25]])

In [36]:
if p_value_ < 0.05:
  print('we reject null hypothesis at 5% level of significance')
else:
  print('we accept null hypothesis at 5% level of significance')

we accept null hypothesis at 5% level of significance

In [37]:
#SINCE WE SAY THAT DEFECTIVE % NOT VARIES BY CENTRE.